@font-face {
    font-family: 'Augiepixel';
    src: url(assets/font/augiepixel.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F5E1B8;
}

header {
    position: relative;
}

header.hero {

    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background: url(assets/imgs/sky.jpg);
    background-size: cover;
    background-position: center;
}


header.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.15);
}

nav {
    position: relative;
    z-index: 10;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button {
    cursor: pointer;
    font-size: large;
    font-family: cursive;
    border: none;
    background-color: cornsilk;
    font-size: 1.5rem;
    padding: 0 1.5rem;
    position: relative;
    color: #4A2C17;
    border-radius: 0.5rem;
    gap: 20px;
    box-shadow: 3px 5px 0 #927d6e;
}

nav button:hover {
    color: #F5E1B8;
    background-color: #4A2C17;
}

nav button:active {
    color: #f1e3cf;
    background-color: #d7aa7f;
}

#music-toggle {
    background-color: #f8f1e5;
    border: none;
    border-radius: 70%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:20px ;
}

.music-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70%;
}

.music-icon-hidden {
    display: none;
}

#music-toggle:hover {
    background-color: #4A2C17;
}

#music-toggle:active {
    background-color: #d7aa7f;
}

.middle {
    display: flex;
    gap: 20px;
}

.hero h1 {
    position: relative;
    z-index: 1;
    color: cornsilk;
}

h1 {
    font-family: 'AugiePixel', sans-serif;
    font-weight: 1200;
    text-align: center;
    font-size: 4rem;
    padding-top: 1rem;
}

h4 {
    font-family: 'Augiepixel', sans-serif;
    text-align: center;
    font-weight: 900;
    color: #4A2C17;
    font-size: 1.5rem;
}

.kiki-fly {
    position: absolute;
    bottom: 0;
    right: 2rem;
    width: 420px;
    pointer-events: none;
    z-index: 2;
}

.sparkle {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    animation: sparkleFade 0.8s ease-out forwards;
}
@keyframes sparkleFade {
    0% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
    100%  {
        opacity: 0;
        transform: scale(0.3) translateY(12px) rotate(20deg);
    }
}

.sparkle-blossom {
    font-size: 14px;
    line-height: 1;
}

.sparkle-star {
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, #fff9ee 0%, #927d6e 60%, transparent 80%);
}

main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    font-family: 'AugiePixel', sans-serif;
    color: #4A2C17;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 50px;
}

#about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px 60px;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.about-text {
    max-width: 350px;
    background: #fff9ee;
    border: 2px dashed #d7aa7f;
    border-radius: 15px;
    padding: 28px 24px;
    box-shadow: 4px 6px 0 #e8c9a0;
    transform: rotate(-1.5deg);
    transition: transform 0.3s ease;
    flex: 0 0 360px;
}

.about-text:hover {
    transform: rotate(0deg) scale(1.05);
    transition: all 0.4s ease;
}

.about-text p {
    font-family: 'AugiePixel', serif;
    font-size: 1.5rem;
    line-height: 1.8;
    color: #4A2C17;
}

.about-text p::first-letter {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    float: left;
    line-height: 1;
    padding-right: 8px;
    color: #B6342F;
}

.about-text .photo-container {
    opacity: 1;
    transform: none;
}

.about-text.revealed {
    opacity: 1; 
    transform: translateX(0);
    rotate: (-1.5deg);
}

.photo-container.revaled {
    opacity: 1;
    transform: translateX(0);
}

.photo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.kiki-card {
    position: relative;
    width: 250px;
    border: 10px solid #2e3a6b;
    border-radius: 25px;
    overflow: hidden;
    transform: all 0.4s ease;
    cursor: grab;
    transform: rotate(-4deg);
} 

.kiki-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}

.kiki-card:hover {
    transform: rotate(0deg) scale(1.05);
}

.kiki-card:hover .card-info {
    opacity: 1;
}

.jiji-card {
    position: relative;
    width: 250px;
    border: 10px solid #2e3a6b;
    border-radius: 25px;
    overflow: hidden;
    transform: all 0.4s ease;
    cursor: grab;
    transform: rotate(4deg)
}

.jiji-card img {
    width: 100%;
    height: 335px;
    object-fit: cover;
    display: block;
}

.jiji-card:hover {
    transform: rotate(0deg) scale(1.05);
}

.jiji-card:hover .card-info {
    opacity: 1;
}

.owner-card {
    position: relative;
    width: 250px;
    border: 10px solid #2e3a6b;
    border-radius: 25px;
    overflow: hidden;
    transform: all 0.4s ease;
    cursor: grab;
    transform: rotate(-2deg)
}

.owner-card img {
    width: 100%;
    height: 335px;
    object-fit: cover;
    display: block;
}

.owner-card:hover {
     transform: rotate(0deg) scale(1.05);
}

.owner-card:hover .card-info {
    opacity: 1;
}

.card-info {
    position: absolute;
    inset: 0;
    background: rgba(53,34,0,0.4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-align: center;
    padding: 20px;
}

#menu-section {
    padding: 5rem 7rem;
    background-color: #e8c9a0;
    background-image: 
        linear-gradient(rgba(0,0,0,0,.06) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,0,0,0.06) 1px, transparent 1px);
        border-radius: 1.5rem;
        background-size: 20px 20px;
}

.menu-title {
    font-family: 'AugiePixel', sans-serif;
    color: #4A2C17;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 0%;
    padding-top: 20px;
}

.bakery-name {
    text-align: center;
    padding: 20px 20px;
    color: #4A2C17;
    font-family: 'AugiePixel', sans-serif ;
    padding-bottom: 20px;
    padding-top: 0%;
    font-size: medium;
}

.bread-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bread-card {
    flex: 0 0 250px;
    min-width: 0;
    width: 250px;
    background: #f8f1e5;
    padding: 2.5rem 2.5rem;
    border: 1px solid #927d6e;
    border-radius: 1.5rem;
    text-align: center;
    height: 350px;
    cursor: grab;
    box-shadow: 0 4px 10px rgba(74, 44, 23, 0.3);
    transition: transform 0.25s ease, background-color 0.25s ease, box-shadow 0.25s ease;
}

.bread-card:hover {
    background-color: #d7aa7f;
    border-color: #4A2C17;
    transform: scale(1.03) translateY(-4px);
    box-shadow: 0 8px 18px rgba(74, 44, 23, 0.4);
}

.bread-card:active {
    cursor: grabbing;
}

.bread-art {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.bread-card h3 {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    color: #4A2C17;
    font-family: 'AugiePixel', sans-serif;
}

.bread-card p {
    font-family: cursive;
    color: #4A2C17;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    font-weight: 400;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.price {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #4A2C17;
    background-color: #e8c9a0;
    padding: 0.25rem 1rem;
    border-radius: 999px;
}


.delivery-title {
    font-family: 'AugiePixel', sans-serif;
    color: #4A2C17;
    text-align: center;
    font-size: 4rem;
    padding-top: 50px;
}

.delivery-intro {
    max-width: 600px;
    color: #4A2C17;
    margin: 1rem auto 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'AugiePixel';
    line-height: 1.5;
}

.delivery-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin-bottom: 4rem;
}

.delivery-card {
    position: relative;
    background: #f8f1e5;
    border: 1px solid #927d6e;
    border-radius: 1.5rem;
    padding: 2rem 2.5rem;
    width: 350px;
    box-shadow: 0 10px 22px rgba(74, 44, 23, 0.3),
    0 1px 0 rgba(255,255,255,0.5);
    transform: translateY(-4px);
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.delivery-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1.5rem;
    background: #f1e3cf;
    border: 1px solid #927d6e;
    transform: rotate(-3deg);
    z-index: -1;
}

.delivery-card::after {
    content: "";
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%) rotate(-2deg);
    width: 100px;
    height: 26px;
    background: rgba(98,41,9,0.5);
    border: 1px solid rgba(98,41,9,0.5);
}

.delivery-card fieldset {
    border: none;
    padding: 0;
}

.delivery-card legend {
    font-size: 1.8rem;
    color: #4A2C17;
    font-family: 'AugiePixel', sans-serif;
    margin-bottom: 1rem;
    padding: 0;
}

.delivery-card label {
    display: block;
    font-family: 'AugiePixel', sans-serif;
    font-size: 1rem;
    color: #4A2C17;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

.delivery-card input ,
.delivery-card select
{
width: 100%;
padding: 0.5rem 0.7rem;
border: 1px solid #927d6e;
border-radius: 0.5rem;
background-color: #fff;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 1rem;
color: #4A2C17;
}

.delivery-card button {
    display: block;
    margin: 1.5rem auto 0;
    padding: 0.5rem 1.8rem;
    background-color: #4A2C17;
    color: cornsilk;
    border: none;
    border-radius: 999px;
    font-family: 'AugiePixel', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease,transform 0.2s ease;
}

.delivery-card button:hover {
    color: #4A2C17;
    background-color: cornsilk;
    transform: translateY(-2px);
}

.delivery-card button:active {
    background-color: #d7aa7f;
    color: #4A2C17;
}

.delivery-status {
    text-align: center;
    margin-top: 2.5rem;
    color: #4A2C17;
    opacity: 3;
    transition: opacity 0.4s ease;
}

.delivery-status.visible {
    opacity: 1;
}

.broom-icon {
    display: inline-block;
    font-size: 2rem;
}

.hidden {
    display: none;
}

footer {
    position: relative;
    background-color: #4A2C17;
    color: #f8f1e5;
    padding: 2.5rem 2rem;
    text-align: center;
    border-top: 4px dashed #927d6e;
}

footer h2 {
    font-family: 'AugiePixel';
    font-size: 2rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 1.5rem;
}

.icons img {
    width: 60%;
    height: 60%;
    object-fit: cover;

}

.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #4A2C17;
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.icons a:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(255,255,255,0.5);
}

footer .content {
    max-width: 500px;
    margin: 0 auto;
}

footer .content p:first-child {
    padding-top: 20px;
    font-size: 1rem;
    font-weight: 600;
}

footer .content p:nth-child(2) ,
footer .content p:last-child {
    padding-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
}

@keyframes fly {
    0% {
        transform: translateX(-150px) rotate(-15deg); 
        opacity: 0;
    }
    50% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}